@font-face {
    font-family: "core";
    src: url("../fonts/Core_Sans_M_35_Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "core-medium";
    src: url("../fonts/Core_Sans_M_55_Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
