.qrVideo {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1200;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hint {
    position: absolute;
    bottom: 3.5em;
    left: 0;
    right: 0;
    padding: 0 1em;
    text-align: "center";
    opacity: 0.8;
}
.errorHint {
    position: absolute;
    top: 8em;
    left: 0;
    right: 0;
    padding: 0 1em;
    text-align: center;
}
.qr {
    margin: 0 auto;
    text-align: center;
    display: block;
    background-color: "#fff";
}
